{erl_opts, [debug_info]}.
{plugins, [pc]}.
{project_plugins, [rebar3_ex_doc, rebar3_hex]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/fox.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {"darwin", "CFLAGS", "$CFLAGS -I/usr/local/opt/openblas/include -I/usr/local/include -I/opt/homebrew/include -I/opt/homebrew/opt/openblas/include -fPIC -O3 -std=c99 -finline-functions -w"}, 
    {"darwin", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -finline-functions "},
    {"darwin", "LDFLAGS", "$LDFLAGS -L/opt/homebrew/opt/openblas/lib -flat_namespace -undefined suppress  -lm -framework accelerate"},

    {"linux", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions -w"},
    {"linux", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -finline-functions  "},
    {"linux", "LDFLAGS", "$LDFLAGS -lopenblas -llapacke -lm"},

    {"freebsd", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions    -I /usr/local/include -w"},
    {"freebsd", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -finline-functions  "},
    {"freebsd", "LDFLAGS", "$LDFLAGS -fPIC -L /usr/local/lib -lopenblas -lm"},

    {"solaris", "CFLAGS", "$CFLAGS -fPIC -m64 -I/opt/local/include -O2 -std=c99 -finline-functions -w"},
    {"solaris", "CXXFLAGS", "$CXXFLAGS -fPIC -O2 -finline-function  "},
    {"solaris", "LDFLAGS", "$LDFLAGS -m64 -fPIC -L /opt/local/lib -lopenblas -lm"}
]}.

